.container.about
  %section.page-header
    %h1 Java Exercises
  %section.main
    %article
      %p Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented and specifically designed to have as few implementation dependencies as possible.
  %section.main.col-md-8
    %article.article-block
      .article-contents
        %ul
          - @problems.each do |problem|
            %li
              %h4{style: "display: inline-block;"}
                %b
                  %a{href: "/exercises/java/#{problem.slug}/readme", target: "_blank"}
                    = problem.name.gsub("-"," ").split.map(&:capitalize).join(' ')
              %a.btn.btn-default.btn-sm.pull-right{href: "/nitpick/java/#{problem.slug}"}
                %i.fa.fa-info
