.container.about
  %section.page-header
    %h1 Java Exercises
  %section.main
    %article
      %p Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented and specifically designed to have as few implementation dependencies as possible.
  %section.main.col-md-8
    %article.article-block
      .article-contents
        %ul
          - @problems.each do |name|
            %li
              %h4{:style => "display: inline-block;"}
                %b
                  %a{:href => "/exercises/java/#{name}/readme", :target => "_blank"}= name.gsub("-"," ").split.map(&:capitalize).join(' ')
              %a.btn.btn-default.btn-sm.pull-right{:href => "/nitpick/java/#{name}"}
                %i.fa.fa-info
