.container.about
  %section.page-header
    %h1 Ruby Exercises
  %section.main
    %article
      %p Ruby is an expressive, dynamic programming language. The courses in this section get you quickly up to speed with the basics of the Ruby language.
  %section.main.col-md-8
    %article.article-block
      .article-contents
        %ul
          %li
            %h4{:style => "display: inline-block;"} Coming Soon...
