%footer
  .container.footer-container
    .row
      = image_tag 'logo2.png', width: '50px'
      %a{:href => "/about"} About Hootcode
      .footer-copyright.pull-right
        © 2015, Imaginea Technologies Inc. All Rights Reserved.
#list-notifications
